body{
    margin: 0;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html{
    scroll-behavior: smooth;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    transition: all .5s;
    border-bottom: 2px solid burlywood;
}

.fixed{
    position: fixed;
    margin: 0;
    margin-left: 8%;
    width: 100%;
    top: 30px;
    left: 0;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
    border-left: 1px solid burlywood;
    background-color: rgba(65, 65, 65, 0.8);
    border-radius: 40px;
    box-shadow: rgb(135, 135, 135) 0 0 10px;
    z-index: 20;
}

.fixed2{
    position: fixed;
    margin: 0;
    margin-left: 8%;
    width: 100%;
    top: 30px;
    left: 0;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 236, 210, 0.9);
    border-radius: 40px;
    box-shadow: rgb(135, 135, 135) 0 0 10px;
    z-index: 20;
}
.fixed3{
    position: fixed;
    margin: 0;
    margin-left: 8%;
    width: 100%;
    top: 30px;
    left: 0;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
    border-left: 1px solid burlywood;
    background-color: rgba(65, 65, 65, 0.8);
    border-radius: 40px;
    box-shadow: rgb(135, 135, 135) 0 0 10px;
    z-index: 20;
}

.fixed .titulo{
    color: rgb(255, 255, 255);
    margin: auto;
    margin-left: 25px;
    font-size: 4.5vw;
}
.fixed label{
    margin-right: 30px;
}
.fixed .menu ul li a{
    color: rgb(210, 210, 210);
    background-color: rgba(65, 65, 65, 0.8);
    border: 1px solid burlywood;
}
.fixed .menu ul li a:hover{
    color: rgb(37, 37, 37);
    text-shadow: 0 0 100px #fff;
}
.fixed #btn-menu:checked ~ .menu{
    margin-left: 42%;
}

.fixed2 .titulo{
    color: rgb(80, 80, 80);
    margin: auto;
    margin-left: 25px;
    font-size: 4.5vw;
}
.fixed2 label{
    margin-right: 30px;
}
.fixed2 .menu ul li a{
    color: rgb(80, 80, 80);
    background-color: rgba(255, 236, 210, 0.9);
    border: 1px solid black;
}
.fixed2 .menu ul li a:hover{
    color: rgb(182, 182, 182);
    text-shadow: 0 0 100px #fff;
}

.fixed3 .titulo{
    color: rgb(255, 255, 255);
    margin: auto;
    margin-left: 25px;
    font-size: 4.5vw;
}
.fixed3 label{
    margin-right: 30px;
}
.fixed3 .menu ul li a{
    color: rgb(210, 210, 210);
    background-color: rgba(65, 65, 65, 0.8);
    border: 1px solid burlywood;
}
.fixed3 .menu ul li a:hover{
    color: rgb(37, 37, 37);
    text-shadow: 0 0 100px #fff;
}


.titulo{
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Great Vibes', cursive;
    font-size: 7vw;
    margin: 18px;
    margin-left: 25px;
    margin-bottom: 16px;
    color: rgb(32, 32, 32);
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}
.div-menu{
    height: inherit;
    width: 80%;
}
header label{
    display: block;
    width: 30px;
    height: 30px;
    padding: 18px;
    padding-right: 25px;
    left: auto;
    margin-left: auto;
}

header label i{
    font-size: 5vh;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px #fff;
}
header label:hover{
    cursor: pointer;
}
#btn-menu{
    display: none;
}
.menu{
    position: absolute;
    width: 50%;
    margin-top: 70px;
    margin-left: 100%;
    transition: all .5s;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    border-left: burlywood;
    border-bottom: burlywood;
}

.menu ul{
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu li{
    width: 15%;
    text-align: center;
    width: auto;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-size: 3.5vw;
    margin: 0 0 0 0;
    transition: all 0.1s;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.menu li a:hover{
    color: rgb(154, 154, 154);
    text-shadow: 0 0 100px #fff;
}

#btn-menu:checked ~ .menu {
    margin-left: 50%;
}

/*-----------------------------------------------------------------------------------------------------------MAIN*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}/*
section{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}*/
.home{
    height: 500px;
    background-image: url('../img/1.png');
    background-size: cover;
}

.about{
    width: 100%;
    padding: 100px 0 0 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .primeraInfo{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 70px;
    }

        .foto{
            width: 30%;
            z-index: 0;
            padding: 0;
            margin: 0;
        }
            .foto img{
                border: 2px solid #333333;
                width: 100%;
                height: 100%;
                margin: 0;
            }

        .infoCV{
            width: 70%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-family: 'Quicksand', sans-serif;
        }
            .h1Nombre{
                z-index: -1;
                width: 500px;
                position: absolute;
                color: burlywood;
                font-size: 4.5vw;
                margin: 0;
                padding: 5px;
                background-color:#333333;
                padding-right: 15px;
                border-radius: 70px;
                transition: all 1s;
                text-align: end;
                left: -170px;
            }
            /*.h1NombreFixed{
                z-index: -1;
                position: absolute;
                width: 1200px;
                background-color:#333333;
                color: burlywood;
                font-size: 4.5vh;
                margin-top: 0;
                margin-bottom: 0;
                text-align: end;
                left: -18vw;
            }*/
            .rowNombre{
                margin-top: 30px;
                z-index: -1;
                display: flex;
                flex-direction: column;
                transition: all 1s;
            }/*
            .rowNombreFixed{
                display: flex;
                position: static;
                flex-direction: column;
                margin-top: 70px;
            }*/
            h2{
                text-align: start;
                color: burlywood;
                text-shadow: 0 0 1px rgb(0, 0, 0);
                font-size: 4vw;
                margin-bottom: 2px;
                transition: all 1s;
            }
            h3{
                text-align: start;
                margin: 0;
                font-size: 3.5vw;
                transition: all 1s;
            }
            .pNombre{
                font-size: 2.5vw;
                transition: all .8s;
                overflow: hidden;
                color: black;
                text-align: justify;
            }/*
            .pNombreFixed{
                font-size: 2.4vh;
                opacity: 1;
                left: 46vw;
            }*/
            .ulNombre{
                z-index: -1;
                transition: all 1s;
                border: 0;
                font-size: 3vw;
            }/*
            .ulNombreFixed{
                left: 46vw;
                margin-top: 200px;
            }*/
            .buttonCV{
                margin-left: -20px;
                z-index: 10;
                font-family: 'Quicksand', sans-serif;
                font-size: 2.5vh;
                padding: 15px;
                border: 2px solid burlywood;
                border-radius: 15px;
                background-color: #fff;
                cursor: pointer;
                transition: all .8s;
            }/*
            .buttonCVFixed{
                font-family: 'Quicksand', sans-serif;
                font-size: 2.5vh;
                padding: 15px;
                border: 2px solid burlywood;
                border-radius: 15px;
                background-color: #fff;
                cursor: pointer;
                right: 600px;
                opacity: 1;
                left: 47vw;
            }*/
            .buttonCV:hover{
                border: rgb(60, 60, 60) solid 2px;
                color: rgb(60, 60, 60);
                text-shadow: 0 0 100px rgb(66, 66, 66);
                transition: all .8s;
                box-shadow: burlywood 0 0 15px;
            }

    .skills{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
    }
        .skills h1{
            margin: 0;
        }
        .skills ul{
            margin-top: 10px;
            padding: 0;
            list-style: none;
            width: 100%;
        }
        .skills i{
            font-size: 3vw;
            margin: 5px;
        }
        .skills ul h3{
            margin: 40px 0 15px 0;
            font-size: 2vh;
        }
            .barraProgreso{
                border: 2px solid black;
                height: 20px;
                width: 100%;
                border-radius: 15px;
                display: flex;
                justify-content: flex-start;
            }
            .barraProgreso1{
                margin: 2px;
                width: 75%;
                background-color: burlywood;
                border-radius: 15px;
            }
            .barraProgreso2{
                margin: 2px;
                width: 90%;
                background-color: burlywood;
                border-radius: 15px;
            }
            .barraProgreso3{
                margin: 2px;
                width: 45%;
                background-color: burlywood;
                border-radius: 15px;
            }
            .barraProgreso4{
                margin: 2px;
                width: 90%;
                background-color: burlywood;
                border-radius: 15px;
            }
                .fa-java{
                    color: rgb(255, 34, 0);
                }
                .fa-python{
                    color: #F2B92F;
                }
                .fa-c{
                    color: #1A579A;
                }
                .fa-r-project{
                    color: #74AADA;
                }
                .fa-php{
                    color: #7175AA;
                }
                .fa-square-js{
                    color: #F7DF1E;
                }
                .fa-node{
                    color: #3D8F39;
                }
                .fa-html5{
                    color: #E96228;
                }
                .fa-css3-alt{
                    color: #0091D5;
                }
                .fa-angular{
                    color: rgb(161, 42, 42);
                }
                .fa-react{
                    color: #0091D5;
                }
                .fa-node-js{
                    color: #3D8F39;
                }
                .fa-npm{
                    color: rgb(99, 38, 38);
                }

/*------------------------------------------------------------------------------------------------------------SLIDER PORTFOLIO*/
.portfolio{
    background-color: rgb(183, 183, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 100px;
}

.portfolio h1{
    font-size: 4.5vh;
    width: 100%;
    color: white;
    background-color: rgb(90, 90, 90);
    margin-bottom: 0;
    margin-bottom: 65px;
    margin-top: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
.container-slider{
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff, 0 15px 50px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
    .slider{
        overflow: hidden;
        display: flex;
        height: 500px;
        width: 300%;
        margin-left: -100%;
    }
        .slider__section{
            background-color: rgb(90, 90, 90);
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        }
            .slider-izquierda{
                padding: 12;
                display: block;
                flex-direction: column;
                width: 90%;
                height: 40%;
                margin: 0;
                overflow: hidden;
            }
                .slider-izquierda h1{
                    text-align: left;
                    font-size: 6vw;
                    color: #fff;
                    margin: 20px;
                    margin-left: 0;
                    border: 0;
                    overflow: hidden;
                }
                .slider-izquierda p{
                    text-align: justify;
                    color: #fff;
                    font-size: 3.2vw;
                    overflow: hidden;
                }

            .slider-derecha{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 90%;
                height: 60%;
                margin: 0;
                margin-top: 25px;
                padding: 10px;
                overflow: hidden;
            }
                .slider-derecha img{
                    object-fit: cover;
                    width: 100%;
                    margin-bottom: 5px;
                    border-radius: 15px;
                    overflow: hidden;
                }
        .slider__btn{
            position: absolute;
            width: 40px;
            height: 40px;
            background: rgba(255,255,255,0.7);
            top: 38%;
            transform: translateY(-50%);
            font-size: 30px;
            font-family: monospace;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            cursor: pointer;
        }
        .slider__btn:hover{
            background: #fff;
        }
        .slider__btn--left{
            left: 10px;

        }
        .slider__btn--right{
            right: 10px;
        }
/*-------------------------------------------------------------------------------------------------------------CONTACT*/
.contact{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

    .infoContactForm{
        display: flex;
        flex-direction: column;
        background-color: rgb(242, 242, 242);
        width: 90%;
        font-family: 'Quicksand', sans-serif;
        box-shadow: inset 20px 20px 20px 0 burlywood;
        border: 2px solid rgb(90, 90, 90);
        border-radius: 30px;
    }

        .infoContact{
            width: 100%;
            padding-top: 20px;
            margin-bottom: 25px;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Quicksand', sans-serif;
        }
            .infoContact h2{
                font-size: 8vw;
                color: white;
                text-shadow: 0 0 4px rgb(0, 0, 0);
            }
            .ulInformacion{
                margin: 0;
                padding-left: 0;
                list-style: none;
                color: rgb(46, 46, 46);
                font-size: 4vw;
            }
                .ulInformacion li{
                    display: flex;
                    flex-direction: row;
                    margin: 15px 0;
                }
                    .ulInformacion li p{
                        margin: 0;
                        margin-left: 5px;
                    }
                    .ulInformacion li i{
                        margin: 5;
                        color: #4a4a4a;
                    }
            .ulRedes{
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 10px;
                padding: 0;
            }
                .ulRedes a i{
                    font-size: 7vw;
                    margin: 10px;
                    color: rgb(90, 90, 90);
                    text-shadow: 0 0 4px burlywood;
                    transition: all .5s;
                }
                .ulRedes a i:hover{
                    color: #a5a5a5;
                }

        .div-formContacto{
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            height: inherit;
            align-items: center;
            justify-content: center;
        }
        
            .div-formContacto form{
                width: 70%;
                height: 92%;
                background: rgb(90, 90, 90);
                padding: 10px 20px;
                border-radius: 20px;
                border: 2px solid white;
            
            }
            .div-formContacto h4{
                color: #fff;
                text-align: center;
                margin: 0;
                font-size: 5vw;
                margin-bottom: 24px;
                font-family: 'Quicksand', sans-serif;
            }
            .div-formContacto input, textarea{
                width: 100%;
                margin-bottom: 12px;
                padding: 7px;
                box-sizing: border-box;
                font-size: 17px;
                border: none;
                background-color: rgb(70, 70, 70);
                border: 1px white solid;
                border-radius: 10px;
                font-family: 'Quicksand', sans-serif;
                color: burlywood;
            }
            .div-formContacto textarea{
                min-height: 100px;
                max-height: 100px;
                max-width: 100%;
                min-width: 100%;
                font-family: 'Quicksand', sans-serif;
                color: burlywood;
            }
            #botonForm{
                background: rgb(230, 230, 230);
                color: rgb(49, 49, 49);
                box-shadow: inset 0 0 5px 0 gray;
                padding: 20px;
                font-family: 'Quicksand', sans-serif;
                transition: all .5s;
            }
            #botonForm:hover{
                cursor: pointer;
                background-color: #ffffff;
            }



/*-------------------------------------------------------------------------------------------------------------FOOTER*/

footer{
    width: 100%;
    background-color: rgb(32, 32, 32);
    background-size: auto;
    border-top: burlywood solid 3px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}
    footer h3{
        font-family: 'Great Vibes', cursive;
        font-size: 4.5vw;
        color: #fff;
        text-shadow: burlywood 0 0 5px;
        padding: 20px;
        margin: 0;
    }
    footer p{
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-family: 1vw;
        margin: auto;
        margin-right: 20px;
    }